@charset "UTF-8";
     
.tree li::before {
    content: ''; /* Rimuove qualsiasi icona predefinita per tutti gli <li> */
}
       
.tree li.folder::before {
  content: '📁'; /* Simbolo per le cartelle */
  margin-right: 8px;
  position: absolute;
  top: 0;
  left: -10px;
  width: 80px;
  height: 20px;
}

.tree li.file::before {
  content: '📄'; /* Simbolo per i documenti */
  margin-right: 8px;
  position: absolute;
  top: 0;
  left: -10px;
  width: 80px;
  height: 20px;
}

.tree ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree ul ul {
    margin-left: 20px;
}

.tree li {
    margin: 0;
    padding: 0 12px;
    line-height: 20px;
    position: relative;
}

.tree li.folder:last-child::before {
    border-left: 1px solid #ccc;
    border-bottom: none;
}

.folder a {
    color: black;
    text-decoration: underline;
}



   