#aggiungisottocartellabutton {
	width: 155px; /* Larghezza */
	height: 16px; /* Altezza */
	font-size: 10px; /* Dimensione del testo */
}

#aggiungifilebutton {
	width: 93px; /* Larghezza */
	height: 16px; /* Altezza */
	font-size: 10px; /* Dimensione del testo */
}

#accedibutton {
	width: 57px; /* Larghezza */
	height: 16px; /* Altezza */
	font-size: 10px; /* Dimensione del testo */
}

#clearbutton {
	width: 57px; /* Larghezza */
	height: 16px; /* Altezza */
	font-size: 10px; /* Dimensione del testo */
}

#form-box {
	display: block; /* Ogni elemento occupa una riga */
	margin-bottom: 10px; /* Spazio tra gli elementi */
	width: 100%; /* (Facoltativo) Per farli occupare tutta la larghezza */
}

/* quando inizio il drag */
.dragging {
	opacity: 0.5;
}

/* Riquadro dove trasporto file/cartella (CESTINO) */
.dropzone {
	border: 2px dashed #ccc;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}

/* Quando passo sopra con l'elemento' */
.dropzone.drag-over {
	background-color: #f8d7da;
	border-color: #f5c6cb;
}
