#aggiungisottocartellabutton {
	width: 155px; /* Larghezza */
	height: 16px; /* Altezza */
	font-size: 10px; /* Dimensione del testo */
}

#aggiungifilebutton {
	width: 93px; /* Larghezza */
	height: 16px; /* Altezza */
	font-size: 10px; /* Dimensione del testo */
}

#accedibutton {
	width: 57px; /* Larghezza */
	height: 16px; /* Altezza */
	font-size: 10px; /* Dimensione del testo */
}




#form-box  {
    display: block; /* Ogni elemento occupa una riga */
    margin-bottom: 10px; /* Spazio tra gli elementi */
    width: 100%; /* (Facoltativo) Per farli occupare tutta la larghezza */
}







 .draggable {
            width: 100px;
            height: 100px;
            background-color: #007bff;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            cursor: grab;
        }
        
        
        
        
        .dragging {
    opacity: 0.5;
}

.dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.dropzone.drag-over {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
        

        .dropzone.hover {
            border-color: #28a745;
            background-color: #e9ffe9;
        }